{% extends "Perfil.html" %} {% block search %}

<div class="p-4 w-full">
  {% for item in contactos %}
    <div class="bg-gray-600 p-4 shadow rounded w-full mb-6 flex items-center justify-between">
      
      <!-- Contenido a la izquierda (Texto) -->
      <div class="flex-1 pr-4">
        <a href="{% url 'Proyectos' %}">
          <h2 class="text-lg underline font-bold text-yellow-500">
            {{ item.contacto.titulo }}
          </h2>
        </a>
        <p class="text-white mt-2">
          Explora los proyectos de desarrollo web y aplicaciones que ha creado
          Leonardo, incluyendo sistemas con Django y Docker.
        </p>
      </div>

      <!-- Imagen a la derecha -->
      <div class="w-48 h-48 flex-shrink-0">
        <img src="{{ item.enlace.imagen.url }}" class="w-full h-full object-cover rounded" alt="Imagen de {{ item.contacto.titulo }}" />
      </div>
    </div>
  {% endfor %}
</div>


{% endblock search %}
