{% extends "Perfil.html" %} 


{% block search %}

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-64 p-4">
  {% for item in technologias %}
  <div
    class="card bg-gray-600 rounded-lg shadow-lg flex flex-col overflow-hidden max-h-[250px] min-w-[250px] mx-8"
  >
    
      <img
        src="{{ item.imagen.url }}"
        alt="Imagen del Enlace"
        class="w-full h-48 object-cover rounded-t-lg"
      />
    

    <!-- Título del contacto (abajo) -->
    <h2
      class="text-yellow-500 underline font-bold text-blue-700 text-center py-2 px-4"
    >
      {{ item.nombre }}
    </h2>
  </div>
  {% endfor %}
</div>
{% endblock search %}
